In [1]:
import pandas as pd
import numpy as np
import matplotlib
%matplotlib inline

In [3]:
df = pd.read_csv("dataset_2019_2022.csv")
df['transaction_date'] = pd.to_datetime(df['transaction_date'], dayfirst=True)
print("Data frame has {} rows".format(len(df)))
print("Data frame head\n\r",df.head())

Data frame has 77750 rows
Data frame head
    customer_id  product_id  basket_id   loyalty     household_type age_band  \
0        15803     1131974      57266  Loyalist  1 adult with kids    19-24
1        15803     1051516      57266  Loyalist  1 adult with kids    19-24
2        15803      967254      57266  Loyalist  1 adult with kids    19-24
3        15803     1134222      57266  Loyalist  1 adult with kids    19-24
4        15803     1003421      57266  Loyalist  1 adult with kids    19-24

       department     brand                commodity  store  price  \
0         Grocery   private   Baked bread/buns/rolls    374   0.99
1         Produce  national  Vegetables - all others    374   0.70
2  Pharmaceutical  national             Cold and flu    374   1.68
3         Grocery   private         Paper housewares    374   2.59
4         Grocery  national                     Soup    374   0.60

  transaction_date
0       2020-10-05
1       2020-10-24
2       2020-10-18
3       2020-10-23
4       2020-10-27

In [4]:
print(np.unique(df["loyalty"]))
print(np.unique(df["household_type"]))
print(np.unique(df["age_band"]))
#df["loyalty"].plot.hist()
#df.plot.bar(column=["loyalty"])

['First Time Buyer' 'Loyalist' 'Promiscuous']
['1 adult with kids' '2 adults with kids' '2 adults with no kids'
 'Single female' 'Single male']
['19-24' '25-34' '35-44' '45-54' '55-64' 'Greater than 65']

In [5]:
print(df.describe())

        customer_id    product_id     basket_id    store         price
count  7.775000e+04  7.775000e+04  7.775000e+04  77750.0  77750.000000
mean   2.425159e+04  3.579019e+06  6.905152e+04    374.0      3.231060
std    3.965495e+04  4.714247e+06  1.055748e+05      0.0      3.280044
min    1.580300e+04  3.508200e+04  5.196400e+04    374.0      0.100000
25%    1.952900e+04  9.200910e+05  5.987200e+04    374.0      1.490000
50%    2.342900e+04  1.037863e+06  6.802100e+04    374.0      2.500000
75%    2.699300e+04  5.578437e+06  7.521500e+04    374.0      3.990000
max    2.811700e+06  1.820392e+07  6.811600e+06    374.0     68.970000

In [6]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77750 entries, 0 to 77749
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customer_id       77750 non-null  int64
 1   product_id        77750 non-null  int64
 2   basket_id         77750 non-null  int64
 3   loyalty           77750 non-null  object
 4   household_type    77750 non-null  object
 5   age_band          77750 non-null  object
 6   department        77750 non-null  object
 7   brand             77750 non-null  object
 8   commodity         77750 non-null  object
 9   store             77750 non-null  int64
 10  price             77750 non-null  float64
 11  transaction_date  77750 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(4), object(6)
memory usage: 7.1+ MB
None

In [7]:
print(len(df))
df[df.duplicated(keep=False)]
print(len(df))

df.drop_duplicates(keep= 'first', inplace=True)
print(len(df))

77750
77750
77691

In [10]:
df.groupby(['transaction_date']).agg(total_revenue=('price', sum)).reset_index().head()

  transaction_date  total_revenue
0       2019-01-01         234.05
1       2019-01-02         122.97
2       2019-01-03         160.65
3       2019-01-04         166.08
4       2019-01-05         138.64

In [12]:
df["year"] = df.transaction_date.dt.year
df["month"] = df.transaction_date.dt.month
df['year'].head(5)

0    2020
1    2020
2    2020
3    2020
4    2020
Name: year, dtype: int64

In [13]:
df.loyalty.replace("Promiscuous", "Non-Loyalist", inplace=True)
np.unique(df["loyalty"])

array(['First Time Buyer', 'Loyalist', 'Non-Loyalist'], dtype=object)

In [14]:
df.to_csv('clear dataset 2019-2022.csv',index=False)

In [40]:
df.groupby(['year']).agg(total_revenue=('price', sum))

C:\Users\14389\AppData\Local\Temp\ipykernel_20624\92031311.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  df.groupby(['year']).agg(total_revenue=('price', sum))

      total_revenue
year
2019       72623.35
2020       74169.00
2021       74280.04
2022       29908.08

In [15]:
df[df.transaction_date.dt.month < 7] \
    .groupby(['year']) \
    .agg({'price': ['min', 'max', 'mean', 'sum']})

     price
       min    max      mean       sum
year
2019   0.1  56.97  3.281043  35710.87
2020   0.1  56.97  3.242128  36253.47
2021   0.1  43.69  3.240754  37369.13
2022   0.1  49.22  3.357441  29908.08

In [17]:
df.groupby(['brand', 'year']).agg(total_revenue=('price', sum)).reset_index()

      brand  year  total_revenue
0  national  2019       58636.13
1  national  2020       59285.56
2  national  2021       58893.30
3  national  2022       24475.92
4   private  2019       13987.22
5   private  2020       14883.44
6   private  2021       15386.74
7   private  2022        5432.16